# Selenium
- a framework to automate a web browser.
- generally used for testing web applications.

# Installing Selenium :
&emsp;&emsp; `pip install selenium`

# Web Drivers
 
web Drivers in selenium connects the code(Python) with the real browsers.

In [1]:
!pip install Selenium

Requirement already satisfied: Selenium in c:\users\dell\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\dell\anaconda3\lib\site-packages (from Selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from Selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from Selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from Selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\dell\anaconda3\lib\site-packages (from Selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (3.4)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->Selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->Selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->Selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->Selenium) (0.14.0)

In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options

from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
import time
import pandas as pd
import re

In [24]:
# creates a new browser
driver = webdriver.Chrome()

In [25]:
#driver.get("https://www.google.com")
#driver.get("https://www.naukri.com")
driver.get("https://facebook.com")

In [26]:
# to display the title of website
driver.title

'Facebook – log in or sign up'

In [27]:
driver.close()

In [28]:
driver= webdriver.Chrome()

In [29]:
driver.get("https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_and_their_capitals_in_native_languages")

In [30]:
all_tables=driver.find_elements(By.CLASS_NAME,"wikitable")

In [31]:
len(all_tables)

25

In [32]:
df = pd.DataFrame({}, columns=['Country', 'Capital', 'Language'])

In [40]:
driver.maximize_window

In [41]:
for one_table in all_tables:
    all_rows= one_table.find_elements(By.TAG_NAME,'tr')[1:]
    for tr in all_rows:
        all_tds = tr.find_elements(By.TAG_NAME,'td')

        country = all_tds[0].text
        capital = all_tds[1].text
        language = all_tds[-1].text

        ele = {'Country': country, 'Capital' : capital, 'Language' : language}
        
        #df = df.append(ele, ignore_index=True) # append method is removed from pandas
        df = pd.concat([df, pd.DataFrame([ele])], ignore_index=True)

In [35]:
df

,Country,Capital,Language
0,Afghanistan,Kabul,Pashto/Dari\n(Arabic script)
1,Albania,Tirana,Albanian
2,Algeria,Algiers,Berber language\n(Tifinagh script)\nArabic\n(A...
3,American Samoa[1],Pago Pago,Samoan\nEnglish
4,Andorra,Andorra la Vella,Catalan
...,...,...,...
240,Vietnam,Hanoi,Vietnamese
241,Wallis and Futuna[10],Mata Utu,French\nWallisian\nFutunan
242,Yemen,Sana'a,Arabic\n(Arabic script)
243,Zambia,Lusaka,"English, Bemba, Chewa"
244,Zimbabwe,Harare,"English, Shona"

In [36]:
df['Language']=df['Language'].apply(lambda x: x[:-1])

In [37]:
df['Country'] =  df['Country'].apply(lambda x : re.sub('\[.*\]', "", x.rstrip()))

In [38]:
df

,Country,Capital,Language
0,Afghanistan,Kabul,Pashto/Dari\n(Arabic script
1,Albania,Tirana,Albania
2,Algeria,Algiers,Berber language\n(Tifinagh script)\nArabic\n(A...
3,American Samoa,Pago Pago,Samoan\nEnglis
4,Andorra,Andorra la Vella,Catala
...,...,...,...
240,Vietnam,Hanoi,Vietnames
241,Wallis and Futuna,Mata Utu,French\nWallisian\nFutuna
242,Yemen,Sana'a,Arabic\n(Arabic script
243,Zambia,Lusaka,"English, Bemba, Chew"
244,Zimbabwe,Harare,"English, Shon"

In [39]:
df.to_csv("Country_sel.csv",index=False)